body{
  font-family: system-ui, sans-serif;
  line-height: 1.6;
  margin: 40px;
  max-width: 40rem;
}
h1,h2{margin:0 0 1rem}
p   {margin:0 0 .8rem}

h1{font-size:2.5rem;text-align:center;color:#0097e6}
h2{text-align:center;color:#33d9b2;margin-bottom:2rem}
p{text-indent:1.5rem}
